<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>997843736166-t7oidthv81j335gr7m6e61mqmbns8um6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997843736166-t7oidthv81j335gr7m6e61mqmbns8um6</string>
	<key>API_KEY</key>
	<string>AIzaSyD654m6qN3cFq1Ww6o7vgy7NEOGuCQ2j6o</string>
	<key>GCM_SENDER_ID</key>
	<string>997843736166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.issart.pet-shelter</string>
	<key>PROJECT_ID</key>
	<string>petshelter-6ce17</string>
	<key>STORAGE_BUCKET</key>
	<string>petshelter-6ce17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997843736166:ios:bc26b16ce0265a842f3fa7</string>
</dict>
</plist>